<header class="header">
	<div class="container">
		<div class="logo">
			<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
				<div class="logo__title">
					<img src="/img/jt_wtag_fc.png" width="80%" height="80%" align="left">
			</a>
					<img src="/img/cert-badges/az103.png" width="8%" height="8%" align="right">
					<img src="/img/cert-badges/az204.png" width="8%" height="8%" align="right">
					<img src="/img/cert-badges/az500.png" width="8%" height="8%" align="right">
					<img src="/img/cert-badges/azsaexp.png" width="8%" height="8%" align="right">
					<img src="/img/cert-badges/terraform.png" width="8%" height="8%" align="right">
					<a href="https://mvp.microsoft.com/en-us/PublicProfile/5003681" target="_blank">
						<img src="/img/cert-badges/mvp.png" width="15%" height="15%" align="right">
					</a>
				</div>
		</div>
		{{ partial "menu.html" . }}
	</div>
</header>